app_mode = production
instance_name = {{ inventory_hostname }}

[server]
domain = {{ inventory_hostname }}
root_url = http://{{ grafana_host }}:{{ grafana_port }}

[database]
type = mysql
host = database:3306
name = {{ grafana_database_name }}
user = {{ grafana_database_username }}
password = {{ grafana_database_password }}

[analytics]
reporting_enabled = false
check_for_updates = false

[security]
admin_user = {{ grafana_admin_user }}
admin_password = {{ grafana_admin_password }}
secret_key = {{ grafana_secret_key }}
disable_gravatar = true

[users]
allow_sign_up = false
allow_org_create = false

[dashboards.json]
path = /var/lib/grafana/dashboards
