---
version: '2'
services:
  cephclient:
    restart: unless-stopped
    image: "{{ cephclient_image }}"
    entrypoint: sleep infinity
    volumes:
      - "{{ cephclient_configuration_directory }}:/etc/ceph:rw"
      - "/etc/hosts:/etc/hosts:ro"
